<h1>My Tasks</h1>


  <ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "🗑", task_path(task), method: :delete  %>

    <% if task.complete == true %>
  <button type="button"> ✓ </button>

     <%#= evil_icon 'ei-arrow-right', size: :m %>
    <% else %>
  <button type="button" onclick="alert('Done')"> ⍻ </button>
     <%#= evil_icon 'ei-arrow-right', size: :m %>
    <% end %>
  </li>
  <% end %>
  </ul>



   <%= link_to '+ Add new task', tasks_new_path %>

